---
import type {CollectionEntry} from 'astro:content';

interface Props {
	info: CollectionEntry<'firstName'>[];
}

const {info} = Astro.props;
---

{
	info.map((name) => {
		return <h1>{name.data.name}</h1>;
	})
}
